body {
    margin: 0;
    padding: 0;
    font: 14px Arial;
}

.cover {
    position: relative;
    height: 700px;
}

.cover .logo {
    margin: 0 auto;
    width: 200px;
}

.cover .logo img {
    margin-top: 50px;
}

.cover .title-1 {
    margin-top: 30px;
    font-size: 24px;
}

.cover .title-2 {
    margin-top: 30px;
    font-size: 32px;
}

.cover .footer {
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.light-blue {
    color: #0274b7;
}

.grey {
    color: #717070;
}

.blue {
    color: #024e8f;
}

.white {
    color: white;
}

.bg-blue {
    background-color: #024e8f;
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.image {
    max-width: 100%;
    height: 300px;
    margin: 20px 0;
}