<div class="cover" style="background: url('./assets/bg.png')">
    <div class="logo text-center">
        <img src="assets/logo.png">
        <div class="uppercase light-blue text-center">
            Coolsculpting&reg; universitity
        </div>
        <div class="uppercase light-blue text-center">&mdash; masters &mdash;</div>
    </div>

    <div class="title-1 text-center uppercase grey">digital footprint</div>
    <div class="title-2 text-center uppercase blue">{{headline}}</div>
    <div class="footer bg-blue text-center">
        <div class="white uppercase">Date completed</div>
        <div class="white">{{Date}}</div>
    </div>
</div>