<div class="cover" style="background: url('./assets/bg.png')">
    <div class="logo text-center">
        <img src="assets/logo.png">
        <div class="uppercase light-blue text-center">
            Coolsculpting&reg; universitity
        </div>
        <div class="uppercase light-blue text-center">&mdash; masters &mdash;</div>
    </div>

    <div class="title-1 text-center uppercase grey">OVERVIEW</div>

    <div class="text-center">
    {{#each images}}
        <img class="image" src="{{this}}">
    {{/each}}
    </div>

    <div class="footer bg-blue text-center">
        <div class="white uppercase">Date completed</div>
        <div class="white">January 12, 2019</div>
    </div>
</div>